.container{
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}


.site{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.site__title{
  text-align: center;
  font-size: 28px;

}

.site__form{
  display: flex;
  align-items: center;
  gap: 30px;
}

.site__input{
  padding: 5px;
}

.site__list{
  list-style-type: none;
  display: flex;
  gap: 30px;

}
.item{
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li>img{
  width: 60px;
}